[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-multipart = "*"
google-cloud-storage = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
google-cloud-firestore = "*"
google-cloud-pubsub = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
